<VirtualHost *:80>
    ServerName kes.koplac.cz
    ServerAlias www.kes.koplac.cz

    DocumentRoot /subdom/kes
    <Directory /subdom/kes>
        AllowOverride None
        Order Allow,Deny
        Allow from All

        FallbackResource /index.php
    </Directory>

    <Directory /subdom/kes/public/bundles>
        FallbackResource disabled
    </Directory>
    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined

</VirtualHost>
